<footer>
  <div class="part links">
    <div class="body">
      {{#footerParts}}
      {{> footer-part}}
      {{/footerParts}}
    </div>
  </div>
  <div class="part contact">
    <div class="title">
      تماس با ما
    </div>
    <div class="body">
      <p>
        031-36502820
        داخلی
        297
        شنبه تا چهارشنبه ساعت 10 تا 17
        پنج شنبه ها ساعت 10 تا 13
      </p>
      <p>
        09901880418
        شماره همراه و واتساپ شرکت
      </p>
    </div>
  </div>
  <div class="part address">
    <div class="title">
      آدرس
    </div>
    <div class="body">
      <span>
        اصفهان، کیلومتر 5 جاده اصفهان شیراز، سپاهان شهر، بلوار غدیر، بلوار قائم جنوبی، دانشگاه شهید اشرفی اصفهانی، مرکز
        رشد،
        شرکت زیست اکسیر آینده نگر
      </span>
    </div>
  </div>
</footer>
<div class="after-footer">
  تمامی حقوق برای شرکت zean محفوظ میباشد
  ©
</div>