<div class="stage">
  <div class="top triangle"></div>
  <div class="inside">
    <div class="part image">
      <img src="{{pic_url}}" alt="{{pic_alt}}" />
    </div>
    <div class="part content">
      <h2 class="title"> {{title}} </h2>
      <div class="icons">
        {{#icons}}
        <div class="icon {{.}}"></div>
        {{/icons}}
      </div>

      {{#link}}
      <a class="btn see-more" href="{{link}}">
        بیشتر بدانید ...
      </a>
      {{/link}}
    </div>
  </div>
  <div class="bottom triangle"></div>
</div>