<div>
  <header class="main-header">
    <img src="/static/pics/logo.png" alt="site logo" />
    <h1>زیست اکسیر آینده نگر</h1>
  </header>
  <nav class="main-nav">
    <a href="/">صفحه اصلی</a>
    <a href="/products.html">محصولات</a>
    <a href="/services.html">خدمات</a>
    <a href="/about-us.html">درباره ما</a>
    <a href="/contact-us.html">تماس با ما</a>
  </nav>
</div>
