<html>
@!component('templates/head', {com, title: 'درباره ما'})

<body>
  @!component('templates/header', {com})

  <div class="box automated">
    <p> درسال 1399، شرکت زیست اکسیر آینده نگر توسط چند عضو هیئت علمی دانشگاه با هدف تامین نیازهای مراکز تحقیقاتی و
      تشخیصی
      فعال در زمینه بیولوژی مولکولی و بیوتکنولوژی شروع به فعالیت کرد.
    </p>
    <p> در ابتدا این شرکت فعالیت خود را به صورت کار خدماتی در زمینه اصلاح نژاد دام (تعیین گوسفندان هتروزیگوت و هموزیگوت
      از
      نظر ژن چند قلوزائی) شروع کرد و پس از شروع به تولید کیت های استخراج اسیدهای نوکلئیک نمود.
    </p>
    <p> مشخصه اصلی کیت های این شرکت سرعت و کیفیت بالا و در عین حال قیمت پائین آن می باشد.
    </p>
    <p> هم اکنون این شرکت در دو بخش خدمات و تولیدات افتخار این را دارد که در خدمت پژوهشگران و مشتریان عزیز باشد.
    </p>
  </div>
  
  @!component('templates/footer', {com})
</body>
</html>