<!DOCTYPE html>
<html lang="fa">

<head>
  {{> meta}}
</head>

<body>
  {{> header}}

  <div class="box automated">
    <p class="address">
      اصفهان، کیلومتر 5 جاده اصفهان شیراز، سپاهان شهر، بلوار غدیر، بلوار قائم جنوبی، دانشگاه شهید اشرفی اصفهانی، مرکز
      رشد،
      شرکت زیست اکسیر آینده نگر
    </p>

    <div class="space-y"></div>
    
    <p class="number">
      ایمیل:
      <a href="mailto:info@zeanbiotech.ir">info@zeanbiotech.ir</a>
    </p>
    
    <div class="space-y"></div>

    <p class="number">
      031-36502820 داخلی 297
      شنبه تا چهارشنبه ساعت 10 تا 17
      پنج شنبه ها ساعت 10 تا 13
    </p>
    <p class="number">
      09901880418
      شماره همراه و واتساپ شرکت
    </p>
  </div>

  {{> footer}}
</body>

</html>