<html>
@!component('templates/head', {com, title: 'تماس باما'})

<body>
  @!component('templates/header', {com})

  <div class="box automated">
    <p class="address">
      اصفهان. پل درچه. ابتدای اتوبان ذوب آهن. روبروی زندان مرکزی. سازمان جهاد کشاورزی
      -
      شرکت زیست اکسیر آینده نگر
    </p>
    <div class="space-y"></div>
    
    <p>ایمیل: <a href="mailto:{{com.email}}">{{com.email}}</a></p>
    <p>
      شماره های شرکت:
      @each( (ph, index) in com.phones)
      <span>
        @if(index != 0)
          و                 
        @endif
        <a href="tel:{{ph}}">
          {{ph}}
        </a>
      </span>
      @endeach
    </p>
    
    <a href="https://maps.app.goo.gl/xymKK7cSbuhM7nmx9" target="_blank" class="locaiton-map">
      <img src="/static/pics/map-loc.png" alt="location">
    </a>

    <p>
      برای دیدن نقشه روی تصویر بالا کلیک کنید
    </p>

  </div>

  @!component('templates/footer', {com})
</body>

</html>