<html>
@!component('templates/head', {com, title: 'صفحه اصلی'})
  
<body>
  @!component('templates/header', {com})

  <div class="stages">
    <div class="stage">
      <div class="top triangle"></div>
      <div class="inside">
        <div class="part image"><img src="/static/pics/images/boxing-1.webp" alt="تولید کیت های آزمایشگاهی استخراج اسید نوکلئید" /></div>
        <div class="part content">
          <h2 class="title">تولید کیت های آزمایشگاهی استخراج اسید نوکلئیک</h2>
          <div class="icons"><div class="icon aid-kit-icon"></div></div>
          <a class="btn see-more" href="/products.html#1">بیشتر بدانید ...</a>
        </div>
      </div>
      <div class="bottom triangle"></div>
    </div>
    <div class="stage">
      <div class="top triangle"></div>
      <div class="inside">
        <div class="part image"><img src="/static/pics/images/sheep.webp" alt="تعیین ژنوتیپ گوسفندان چند قلوزا" /></div>
        <div class="part content">
          <h2 class="title">تعیین ژنوتیپ گوسفندان چند قلوزا</h2>
          <div class="icons"><div class="icon gen-icon"></div></div>
          <a class="btn see-more" href="/services.html#2">بیشتر بدانید ...</a>
        </div>
      </div>
      <div class="bottom triangle"></div>
    </div>
    <div class="stage">
      <div class="top triangle"></div>
      <div class="inside">
        <div class="part image"><img src="/static/pics/images/lab.webp" alt="مواد و تجهیزات آزمایشگاه" /></div>
        <div class="part content">
          <h2 class="title">مواد و تجهیزات آزمایشگاه</h2>
          <div class="icons">
            <div class="icon dropper-icon"></div>
            <div class="icon lab-flask-icon"></div>
          </div>
        </div>
      </div>
      <div class="bottom triangle"></div>
    </div>
  </div>
  
  @!component('templates/footer', {com})
</body>
</html>
