<html>
@!component('templates/head', {com, title: 'خدمات'})

<body>
  @!component('templates/header', {com})
  
  <div class="services article-wrapper">
    <div class="mt-3">
      <div id="2" class="box">
        <div class="header">
          <h2 class="title">تعیین ژنوتیپ گوسفندان چند قلوزا</h2>
          <div class="image"><img src="/static/pics/images/sheep.webp" alt="تعیین ژنوتیپ گوسفندان چند قلوزا" /></div>
        </div>
        <div class="body">
          <p><span>یکی از آزمایشات پرکاربرد در زمینه دامپروری، بررسی وجود یا عدم وجود ژن
              چندقلوزایی در گوسفندان میباشد که در مراحل اول زندگی دام (بره یک روزه به بعد)
              از طریق آزمایش DNA قابل تشخیص می باشد.</span></p>
          <p><span>از همان سال اول مرحله تجاری سازی دام های چندقلوزا، آزمایشات تشخیص چندقلوزایی
              در ایران انجام گرفته است و هم اکنون نیز این کار در چندین شرکت جهت خدمت رسانی
              به دامداران متقاضی در سراسر کشور انجام می شود.</span></p>
          <p><span>در این ارتباط، دامدار پس از انجام آزمایش در همان روزهای اول پس از تولد
              بره از ژنوتیپ و در نتیجه از وضعیت چندقلوزایی دام خویش مطلع گردیده و در نتیجه
              از انجام هزینه اضافی نگهداری دام های غیرچندقلوزا در گله جلوگیری خواهد کرد، بنابراین
              هم از لحاظ مالی صرفه جوی خواهد داشت و هم بهتر می تواند دامداریش را مدیریت کند.</span></p>
          <p><span>در همین راستا و به منظور  حمایت از برنامه های اصلاح نژادی و بهبود راندمان
              تولید مثلی در گوسفند و از طرفی حمایت از دامداران، بخش تشخیص ژن چند قلوزایی در
              گوسفند در شرکت زیست اکسیر آینده نگر به عنوان آزمایشگاه مرجع در حوزه علوم دامی،
              راه اندازی و آماده خدمت رسانی به دامداران می باشد.</span></p>
          <p>
          <div class="space-y"></div>
          </p>
          <h3><span> نحوه خون گیری و ارسال نمونه به آزمایشگاه </span></h3>
          <p><span>دامداران عزیز می توانند با کمک سرنگ نو به مقدار حدود یک سی سی از ناحیه
              گردن دام خود خون گیری کرده و در لوله های حاوی ماده ضد انعقاد (مثل هپارین، سدیم
              سیترات و EDTA) ریخته و خوب مخلوط کرده تا از انعقاد خون جلوگیری شود.</span></p>
          <p><span>توجه داشته باشید که موقع خون گیری آلودگی پیش نیاد به عنوان مثال برای
              هر گوسفند فقط از یک سرنگ و یک لوله ضد انعقاد استفاده شود و مراقب باشید که خون
              به جداره لوله های ضد انعقاد نپاشد.</span></p>
          <p><span>پس از خونگیری لوله های حاوی خون را پس از هماهنگی با واحد پذیرش شرکت (شماره
              تماس 09901880418) همراه با یخ خشک و یونولیت به آدرس آزمایشگاه شرکت زیست اکسیر
              آینده نگر ارسال نمایند. لازم به ذکر است که مدت زمان پاسخ دهی از سه تا هفت روز
              کاری خواهد بود.
            </span></p>
        </div>
      </div>
    </div>
  </div>
  
  @!component('templates/footer', {com})
</body>

</html>