@import url("./def.less");

@header-height: 60px;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: @ligthgray;
}

a {
  text-decoration: none;
  color: @skyblue;
}

// -------------------

.main-header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: @header-height;
  padding: 0 24px;
  background-color: white;

  img {
    height: @header-height - 10px;
  }

  h1 {
    .fa();
    font-size: 24px;
    color: @skyblue;
  }

  @media screen and (max-width: @mini) {
    & {
      flex-direction: column;
      padding: 4px;

      height: @header-height + 20px;

      img {
        height: @header-height - 20px;
      }

      h1 {
        font-size: 18px;
      }
    }
  }
}

.main-nav {
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5));
  width: 100%;
  direction: rtl;
  background-color: @skyblue;

  a {
    .fa();
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    .transition();

    &.ative,
    &:hover {
      background-color: @darkblue;
    }
  }

  @media screen and (max-width: @mobile) {
    & {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      a {
        width: 30%;
      }
    }
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 30px;
  background-color: @darkblue;
  color: white;
  direction: rtl;
  .fa();

  .part {
    width: 100%;
    border-bottom: 2px solid lighten(@darkblue, 6%);
    padding: 8px 0;

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
      color: white;
    }

    .body {
      margin-right: 8px;

      &,
      & a {
        color: lighten(@darkblue, 80%);
      }
    }
  }

  .part:last-child {
    border-bottom: none;
  }

  .links {
    display: flex;
    justify-content: flex-start;

    a {
      display: inline-flex;
      align-items: center;
      padding: 4px 12px;
      text-decoration: none;
      .rounded();
      .transition();

      .icon {
        display: inline-block;
        background: url("/static/pics/icons/left-triangle.svg");
        .square(16px);
        margin-left: 4px;
      }

      .text {
        .fa();
        font-size: 16px;
        color: white;
      }

      &:hover {
        background-color: white;

        span {
          color: @darkblue;
        }
      }
    }
  }
}

.after-footer {
  .fa();
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: @lightblue;
  color: @darkblue;
  font-weight: bold;
}

// ------------------------------

.btn {
  padding: 8px 16px;
}

.article-wrapper {}

.box {
  background-color: white;
  width: 96%;
  margin-left: 2%;
  .shadow();
  .px(40px);
  .py(32px);
  .my(80px);

  a {
    font-style: italic;
  }

  &.automated {
    &>* {
      .fa();
    }

    p {
      .my(8px);
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    .image {
      img {
        object-fit: cover;
        .rounded();
        .square(256px);
      }
    }

    .title {
      .fa();
    }
  }

  .body {
    .fa();
    font-size: 18px;
    margin-top: 16px;

    p {
      .my(16px);
    }

    ul {
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
          flex-shrink: 0;
          .square(24px);
          margin-left: 6px;
        }

        .mx(8px);
      }
    }
  }

  @media screen and (max-width: @mobile) {
    & {
      .px(12px);

      .header {
        flex-direction: column;

        .title {
          margin-bottom: 20px;
        }

        .image {
          img {
            max-width: 100%;
            width: auto;
            max-height: 300px;
          }
        }
      }

      .body {
        font-size: 16px;
      }
    }
  }
}

// ---------------------------------
::-moz-selection {
  color: white;
  background: #d19696;
}

::selection {
  color: white;
  background: #d19696;
}

@import url("./home.less");


.icon{
  background-repeat: no-repeat;
  background-size: 100%;
}

.dropper-icon{
  background-image: url("/static/pics/icons/dropper.svg");
}

.lab-flask-icon{
  background-image: url("/static/pics/icons/lab-flask.svg");
}

.gen-icon{
  background-image: url("/static/pics/icons/gene.svg");
}

.aid-kit-icon{
  background-image: url("/static/pics/icons/aid-kit.svg");
}
