// fonts -----------------------------

@font-face {
  font-family: 'samim';
  src: url('/fonts/samim.ttf') format('truetype');
}

.fa{
  font-family: 'samim';
  direction: rtl;
}

// colors ---------------------------

@skyblue: #01aaad;
@ligthgray: #eee;
@darkblue: #003637;
@dark: #424242;

// ----------------


.rounded{
  border-radius: 6px;
}
.very-rounded{
  border-radius: 22px;
}