<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Morteza Abkar CV" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true" />
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/dist/cv-new.css" />
  <title>Morteza Abkar CV</title>
</head>

<body>
  <div class="cv-wrapper">
    <aside>
      <div class="profile">
        <div class="pfp"><img src="/static/pics/pfp.jpg" /></div>
        <div class="info">
          <h1 class="name">Morteza Abkar</h1>
          <div class="job">Ph.D, Assistant Professor</div>
        </div>
      </div>
      <div class="body">
        <ul>
          <li><b>Birthday: </b>7th July 1983, Kashan, Iran</li>
          <li><b>Nationality: </b>Iranian</li>
          <li><b>family status: </b>married</li>
          <li><b>phone: </b>
            <a href="tel:+989362045641">
              +989362045641
            </a>
          </li>
          <li><b>email: </b>
            <a href="mailto:mortezaabkar@gmail.com">mortezaabkar@gmail.com</a>
          </li>
          <li><b>linkedIn: </b>
            <a href="https://www.linkedin.com/in/morteza-abkar-5444b747/">
              https://www.linkedin.com/in/morteza-abkar-5444b747/
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <main>
      <h2>Education</h2>
      <div class="content">
        <div class="education">
          <div>
            <hr />
            <div class="time-span">
              <div class="line">
                <span class="start">2010</span>
                <span class="space"> - </span>
                <span class="stop">2015</span>
              </div>
            </div>
          </div>
          <p><b>Ph.D. Molecular Genetics</b> - <i>University of Tarbiat Modares</i></p>
          <div class="my1"></div>
          <p><b>Thesis: </b>Design and Production of Chimeric Protein Containing Omp19, Omp31 and Urease against
            Brucella and Evaluation of its Immunogenicity</p>
        </div>
        <div class="education">
          <div>
            <hr />
            <div class="time-span">
              <div class="line">
                <span class="start">2007</span>
                <span class="space"> - </span>
                <span class="stop">2010</span>
              </div>
            </div>
          </div>
          <p><b>MSC Cellular and Molecular Biology</b> - <i>Common Student Shahid Madani University of Azarbaijan &amp;
              National Institute of Genetic Engineering</i></p>
          <div class="my1"></div>
          <p><b>Thesis: </b>Functional Analysis of Mutated Ribosomal Protein L3 (RPL3 W258C/H259Y) in Yeast towards
            Conferring Resistance to Mycotoxin Deoxynivalenol</p>
        </div>
        <div class="education">
          <div>
            <hr />
            <div class="time-span">
              <div class="line">
                <span class="start">2002</span>
                <span class="space"> - </span>
                <span class="stop">2006</span>
              </div>
            </div>
          </div>
          <p><b>BSC Cellular and Molecular Biology Genetics</b> - <i>University of Esfahan</i></p>
        </div>
      </div>
      <h2>Professional Experiences</h2>
      <div class="content">
        <div class="education">
          <div>
            <hr />
            <div class="time-span">
              <div class="line">
                <span class="start">2020</span>
                <span class="space"> - </span>
                <span class="stop">now</span>
              </div>
            </div>
          </div>
          <p><b>Assistant Professor in Genetics Department</b> - <i>Department of Genetics, Faculty of Biological
              Sciences and Technology, Shahid Ashrafi Esfahani University, Isfahan, Iran. P.O. Box: 8179849999. Tel:
              +98-31-36502820. Fax: +98-31-36502825
            </i></p>
        </div>
        <div class="education">
          <div>
            <hr />
            <div class="time-span">
              <div class="line">
                <span class="start">June 2017</span>
                <span class="space"> - </span>
                <span class="stop">June 2018</span>
              </div>
            </div>
          </div>
          <p><b>Postdoc researcher</b> - <i>Shiraz University of medical sciences</i></p>
          <div class="my1"></div>
          <p><b>Thesis: </b>Production of chitosan based nanovaccine containing Brucella melitensis Omp31 and
            investigation of its immunogenicity in mouse model</p>
        </div>
      </div>
      <h2>Research Interests</h2>
      <div class="content">
        <ul>
          <li>Detection of Different Pathogens by Molecular Methods</li>
          <li>Production of Recombinant Proteins in Different Host Cells</li>
          <li>Vaccine Design by Bioinformatics Tools</li>
          <li>Function Evaluation of Different Vaccine Delivery Systems</li>
        </ul>
      </div>
      <h2>Publications</h2>
      <div class="content">
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/minerva.PDF"><span><b>Design of a chimeric DNA Vaccine against Brucella spp.
                  Minerva</b></span></a> - <i>Biotecnologica 2014; 26:223-233</i></p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Abbas Sahebghadam Lotfi</p>
          </div>
          <div class="author ">
            <p>Jafar Amani</p>
          </div>
          <div class="author ">
            <p>Seyed Ali Ghorashi</p>
          </div>
          <div class="author ">
            <p>Gholamreza Nikbakht Brujeni</p>
          </div>
          <div class="author ">
            <p>Mehdi Kamali</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Abkar_et_al-2015-APMIS.pdf"><span><b>Subcutaneous immunization with a novel
                  immunogenic candidate (urease) confers protection against Brucella abortus and Brucella melitensis
                  infections.
                </b></span></a> - <i>APMIS 2015 Aug; 123(8): 667-675
            </i></p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Jafar Amani</p>
          </div>
          <div class="author ">
            <p>Abbas Sahebghadam Lotfi</p>
          </div>
          <div class="author ">
            <p>Gholamreza Nikbakht Brujeni</p>
          </div>
          <div class="author ">
            <p>Saeed Alamian</p>
          </div>
          <div class="author ">
            <p>Mehdi Kamali</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Omp19.pdf"><span><b>Survey of Omp19 immunogenicity against Brucella abortus and
                  Brucella melitensis: Influence of nanoparticulation and route of administration versus traditional
                  immunization
                </b></span></a> - <i>Vet Res Comm. 2015 Dec; 39(4):217-28
            </i></p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Abbas Sahebghadam Lotfi</p>
          </div>
          <div class="author ">
            <p>Jafar Amani</p>
          </div>
          <div class="author ">
            <p>Khadijeh Eskandari</p>
          </div>
          <div class="author ">
            <p>Mehdi Fasihi Ramandi</p>
          </div>
          <div class="author ">
            <p>Jafar Salimian</p>
          </div>
          <div class="author ">
            <p>Gholamreza Nikbakht Brujeni</p>
          </div>
          <div class="author ">
            <p>Saeed Alamian</p>
          </div>
          <div class="author ">
            <p>Mehdi Kamali</p>
          </div>
          <div class="author ">
            <p>Hamid Koushki</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/azadi.PDF"><span><b>Mitochondrial Complex I Gene Variations; as a Potential Genetic
                  Risk Factor in Pathogenesis of Multiple Sclerosis
                </b></span></a> - <i>J Neurol Sci 345. 2014. 220-223</i></p>
          <p>
          <div class="author ">
            <p>Ahmad Poursadegh Zonouzi</p>
          </div>
          <div class="author ">
            <p>Saeid Ghorbian</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Ali Akbar Poursadegh Zonouzi</p>
          </div>
          <div class="author ">
            <p>Ali Azadi</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Methodology to Understand How Perforin Assembles.pdf"><span><b>Methodology to
                  Understand How Perforin Assembles on Membranes</b></span></a> - <i>Scandinavian journal of immunology.
              80. 2014. 73-74</i></p>
          <p>
          <div class="author ">
            <p>Saeid Ghorbian</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Ahmad Poursadegh Zonouzi</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Asses ability of mutant variety of ribosomal protein L3 (RPL3 W258C/H259Y) in
                resistance to mycotoxin of Fusarium graminearum by using Saccharomyces cervisiae</b></span> - <i>Crop
              Biotech. 2013. Persian. 13-23</i></p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>F. Sanjarian</p>
          </div>
          <div class="author ">
            <p>M. Mousavi</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/minerva2.PDF"><span><b>Recombinant plasmid KMP-11 gene Leishmania major (pcKMP-11):
                  production, characterization and sequencing
                </b></span></a> - <i>Minerva Biotecnologica 2014; September; 26 (3):175-182</i></p>
          <p>
          <div class="author ">
            <p>Bandani E</p>
          </div>
          <div class="author ">
            <p>Soflaei S</p>
          </div>
          <div class="author ">
            <p>Khalili F</p>
          </div>
          <div class="author ">
            <p>Aghei Afshar M. A</p>
          </div>
          <div class="author ">
            <p>Kooshki H</p>
          </div>
          <div class="author ">
            <p>Abdoli A</p>
          </div>
          <div class="author ">
            <p>Kamali M</p>
          </div>
          <div class="author ">
            <p>Sarvi S</p>
          </div>
          <div class="author ">
            <p>Nasiri V</p>
          </div>
          <div class="author ">
            <p>Jafari A. A</p>
          </div>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Cancer Therapy.PDF"><span><b>Recent Applications of DNA Vaccines in Cancer
                  Therapy</b></span></a> - <i>Molecular medicine journal. 2016. Vol 1, Num 3</i></p>
          <p>
          <div class="author ">
            <p>Ali Akbar Poursadegh Zonouzi</p>
          </div>
          <div class="author ">
            <p>Ahmad Poursadegh Zonouzi</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Refolding.PDF"><span><b>Optimization of a method for refolding of bacterial
                  recombinant proteins</b></span></a> - <i>Molecular and biochemical diagnosis journal. Vol.2, No.1
              (2016), 65-78.</i></p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Abbas Sahebghadam Lotfi</p>
          </div>
          <div class="author ">
            <p>Jafar Amani</p>
          </div>
          <div class="author ">
            <p>Mehdi Fasihi Ramandi</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Gold Nanoparticles.pdf"><span><b>Using gold nanoparticles in diagnosis and treatment
                  of melanoma cancer</b></span></a> - <i>Artificial Cells, Nanomedicine, and Biotechnology, 2018.</i>
          </p>
          <p>
          <div class="author ">
            <p>Salman Bagheri</p>
          </div>
          <div class="author ">
            <p>Maryam Yasemi</p>
          </div>
          <div class="author ">
            <p>Elmira Safaie-Qamsari</p>
          </div>
          <div class="author ">
            <p>Jamal Rashidiani</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Mahmoud Hassani</p>
          </div>
          <div class="author ">
            <p>Seyed Ali Mirhosseini</p>
          </div>
          <div class="author ">
            <p>Hamid Kooshki</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Omp31.pdf"><span><b>Oral immunization of mice with Omp31 loaded N-trimethyl Chitosan
                  nanoparticles induces high protection against B. melitensis infection</b></span></a> -
            <i>International journal of nanomedicine. 2017:12 8769–8778.</i>
          </p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Mahdi Fasihi Ramandi</p>
          </div>
          <div class="author ">
            <p>Hamid Kooshki</p>
          </div>
          <div class="author ">
            <p>Abbas Sahebghadam Lotfi</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Urease nano.pdf"><span><b>Intraperitoneal immunization with Urease loaded N-trimethyl
                  Chitosan nanoparticles elicits high protection against B. melitensis and B. abortus
                  infections</b></span></a> - <i>Immunology Letters. 199 (2018) 53–60.</i></p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Mahdi Fasihi Ramandi</p>
          </div>
          <div class="author ">
            <p>Hamid Kooshki</p>
          </div>
          <div class="author ">
            <p>Abbas Sahebghadam Lotfi</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Cds NPs 2019.pdf"><span><b>CdS nanocrystals/graphene oxide-AuNPs based
                  electrochemiluminescence immunosensor in sensitive quantification of a cancer biomarker: p53
                </b></span></a> - <i>Biosensors and Bioelectronics. Volume 126, 1 February 2019, Pages 7-14.</i></p>
          <p>
          <div class="author ">
            <p>Reza Heidari</p>
          </div>
          <div class="author ">
            <p>Jamal Rashidiani</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Roksana Sookhaklari 2019.pdf"><span><b>The neuroprotective effect of BSA-based
                  nanocurcumin against 6-OHDA-induced cell death in SH-SY5Y cells</b></span></a> - <i>Avicenna Journal
              of Phytomedicine. 2018. In press</i></p>
          <p>
          <div class="author ">
            <p>Roksana Sookhaklari</p>
          </div>
          <div class="author ">
            <p>Bita Geramizadeh</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Maryam Moosavi</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Mousavi.pdf"><span><b>Curcumin Loaded BSA Nanoparticles Protects More Efficiently Than
                  Natural Curcumin Against Scopolamine￾Induced Memory Retrieval Deficit</b></span></a> - <i>Basic and
              Clinical Neuroscience. 2018.</i></p>
          <p>
          <div class="author ">
            <p>Maryam Moosavi</p>
          </div>
          <div class="author ">
            <p>Roksana SoukhakLari</p>
          </div>
          <div class="author ">
            <p>Leila Moezi</p>
          </div>
          <div class="author ">
            <p>Fatema Pirsalami</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><a class="icon-wrapper download"><span class="icon download"></span></a><a
              href="/static/files/Omp31 nano 2019.pdf"><span><b>A comparison between adjuvant and delivering functions
                  of calcium phosphate, aluminum hydroxide and chitosan nanoparticles, using a model protein of brucella
                  melitensis Omp31</b></span></a> - <i>Immunology Letters. Volume 207, May 2019, Pages 28-35.</i></p>
          <p>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          <div class="author ">
            <p>Saeed Alamian</p>
          </div>
          <div class="author ">
            <p>Naghmeh Sattarahmady</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Association of hsa-miR5571-5p expression with clinicopathological factors and
                identification of its hub target genes and key pathway in breast cancer</b></span> - <i>Iranian Journal
              of Public Health. 2022. Under print.</i></p>
          <p>
          <div class="author ">
            <p>Mahshid Samie Ghahfarokhi</p>
          </div>
          <div class="author ">
            <p>Somayeh Reiisi</p>
          </div>
          <div class="author ">
            <p>Zahra Zamanzadeh</p>
          </div>
          <div class="author  me">
            <p>Morteza Abkar</p>
          </div>
          </p>
        </div>
      </div>
      <h2>Talks</h2>
      <div class="content">
        <div class="pub">
          <p class="title"><span><b>Brucella abortus Outer Membrane Protein 19 Loaded N-trimethyl Chitosan Confers
                Protection against B. abortus, B. melitensis and B. suis in Mice</b></span> - <i>12th international
              congress of immunology &amp; allergy. Lecture. 2014. Tehran. Iran</i></p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Sahebghadam Lotfi A</p>
          </div>
          <div class="author ">
            <p>Amani J</p>
          </div>
          <div class="author ">
            <p>Eskandari K</p>
          </div>
          <div class="author ">
            <p>Fasihi M</p>
          </div>
          <div class="author ">
            <p>Nikbakht Brujeni G</p>
          </div>
          <div class="author ">
            <p>Alamian S</p>
          </div>
          <div class="author ">
            <p>Kamali M</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>The Oral Chimeric Vaccine Candidate Omp19-Omp31 Induces Protection against Different
                Brucella spp Challenges by Inducing IL-17 Immune Response</b></span> - <i>12th international congress of
              immunology &amp; allergy. Lecture. 2014. Tehran. Iran.</i></p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>SahebghadamLotfi A</p>
          </div>
          <div class="author ">
            <p>Amani J</p>
          </div>
          <div class="author ">
            <p>Eskandari K</p>
          </div>
          <div class="author ">
            <p>Fasihi M</p>
          </div>
          <div class="author ">
            <p>Nikbakht Brujeni G</p>
          </div>
          <div class="author ">
            <p>Kamali M</p>
          </div>
          <div class="author ">
            <p>Koushki H</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Influence of Administration Route on Omp31 immunogenicity against Brucella
                melitensis</b></span> - <i>13th international congress of immunology &amp; allergy. Lecture. 2016.
              Tabriz. Iran</i></p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Poursadegh Zonouzi A</p>
          </div>
          <div class="author ">
            <p>Fasihi Ramandi M</p>
          </div>
          <div class="author ">
            <p>Sahebghadam Lotfi A</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Examination of Urease immunogenicity against Brucella abortus and Brucella
                melitensis: influence of nanoparticulation versus traditional immunization
              </b></span> - <i>13th international congress of immunology &amp; allergy. Lecture. 2016. Tabriz. Iran.</i>
          </p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Nikbakht Brujeni G</p>
          </div>
          <div class="author ">
            <p>Poursadegh Zonouzi A</p>
          </div>
          <div class="author ">
            <p>Fasihi Ramandi M</p>
          </div>
          <div class="author ">
            <p>Sahebghadam Lotfi A</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Gelatin nanoparticle based delivery of Urease and Omp31 in mice protects against
                Brucella melitensis 16M infection14th international congress of immunology &amp;</b></span> -
            <i>allergy. Lecture. 2018. Tehran. Iran.</i>
          </p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Alamian S</p>
          </div>
          <div class="author ">
            <p>Sattarahmady N</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Subcutaneous vaccination with aluminium hydroxide/Omp31 and chitosan/Omp31
                nanoparticles induces protection against Brucella melitensis infection in BALB/c mice</b></span> -
            <i>14th international congress of immunology &amp; allergy. Lecture. 2018. Tehran. Iran.</i>
          </p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Alamian S</p>
          </div>
          <div class="author ">
            <p>Sattarahmady N</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Oral Administration of Mice with Chimeric Protein Containing Urease, Omp31 and Omp19
                Induces High Protection against Brucella melitensis and Brucella abortus Infections</b></span> - <i>14th
              international congress of immunology &amp; allergy. Lecture. 2018. Tehran. Iran.</i></p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Alamian S</p>
          </div>
          <div class="author ">
            <p>Fasihi Ramandi M</p>
          </div>
          <div class="author ">
            <p>Sahebghadam Lotfi A</p>
          </div>
          </p>
        </div>
      </div>
      <h2>Posters</h2>
      <div class="content">
        <div class="pub">
          <p class="title"><span><b>In silico analysis of yeast acetyl transferase (AYT1)</b></span> - <i>The 4th
              Iranian conference on Bioinformatics. Poster. 2012. Tehran</i></p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Sanjarian F</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Cloning, expression, purification and in silico analysis of the Brucella
                Urease</b></span> - <i>3rd international student biotechnology congress. Poster. 2013. Tehran. Iran.</i>
          </p>
          <p>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Sahebghadam Lotfi A</p>
          </div>
          <div class="author ">
            <p>Amani J</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Association between DROSHA rs642321 Polymorphism and Breast Cancer in Iranian Women.
                International conference on human genetics and genomics. Poster</b></span> - <i>Yazd. December 2021.</i>
          </p>
          <p>
          <div class="author ">
            <p>Taghipour Kamalabad S</p>
          </div>
          <div class="author ">
            <p>Zamanzadeh Z</p>
          </div>
          <div class="author ">
            <p>Rezaei H</p>
          </div>
          <div class="author ">
            <p>Tabatabaeian M</p>
          </div>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>rs10719T&gt; polymorphism in DROSHA gene may destroy binding site of has-miR-664a-3p
                and has-miR-1298-5p.</b></span> - <i>International conference on human genetics and genomics. Poster.
              Yazd. December 2021.</i></p>
          <p>
          <div class="author ">
            <p>Taghipour Kamalabad S</p>
          </div>
          <div class="author ">
            <p>Zamanzadeh Z</p>
          </div>
          <div class="author ">
            <p>Rezaei H</p>
          </div>
          <div class="author ">
            <p>Tabatabaeian M</p>
          </div>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>In silico polyepitope vaccine design against SARS-COV-2 infection</b></span> -
            <i>International conference on human genetics and genomics. Poster. Yazd. December 2021.</i>
          </p>
          <p>
          <div class="author ">
            <p>Owji F</p>
          </div>
          <div class="author ">
            <p>Jamali S</p>
          </div>
          <div class="author ">
            <p>Akbar M</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Design of a Common Vaccine against Influenza and SARS-COV-2</b></span> - <i>Viruses
              by Using In Silico Tools. International conference on human genetics and genomics. Poster. Yazd. December
              2021.</i></p>
          <p>
          <div class="author ">
            <p>Jamali S</p>
          </div>
          <div class="author ">
            <p>Owji F</p>
          </div>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>Co-infection of Gardnella vaginalis and human papillomavirus in cervical samples: A
                multicenter study in Iran. Iran 22nd
              </b></span> - <i>international virtual congress of microbiology. Poster. Tehran. September 2021.</i></p>
          <p>
          <div class="author ">
            <p>Shelerangkon M</p>
          </div>
          <div class="author ">
            <p>Khodabakhsh M</p>
          </div>
          <div class="author ">
            <p>Moein B</p>
          </div>
          <div class="author ">
            <p>Nasri E</p>
          </div>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Fakhim H</p>
          </div>
          </p>
        </div>
        <div class="pub">
          <p class="title"><span><b>characterization of airway yeast colonization in tracheal aspirates of patients with
                SARS-CoV2 infection admitted to the intensive care unit in Isfahan, Iran</b></span> - <i>Poster. Tehran.
              September 2021</i></p>
          <p>
          <div class="author ">
            <p>Khodabakhsh M</p>
          </div>
          <div class="author ">
            <p>Shelerangkon M</p>
          </div>
          <div class="author ">
            <p>Moein B</p>
          </div>
          <div class="author ">
            <p>Nasri E</p>
          </div>
          <div class="author  me">
            <p>Abkar M</p>
          </div>
          <div class="author ">
            <p>Fakhim H. Molecular</p>
          </div>
          </p>
        </div>
      </div>
      <h2>Patents</h2>
      <div class="content">
        <ul>
          <li>Iran Patent Center - patent No: <b>87917</b></li>
          <li>Iran Patent Center - patent No: <b>99547</b></li>
        </ul>
      </div>
      <h2>Teaching Experience</h2>
      <div class="content">
        <h3>University Courses</h3>
        <ul>
          <li>Basic Genetics</li>
          <li>Molecular Genetics</li>
          <li>Immunology</li>
          <li>Topics in Genetics</li>
          <li>Genetic Engineering</li>
        </ul>
        <h3>Workshops</h3>
        <ul>
          <li>Bioinformatics</li>
          <li>Genome and Protein Database Introducing and Primer Design</li>
          <li>Real-time PCR</li>
          <li>Gene Cloning and Bacterial Transformation</li>
          <li>PCR and Gel Electrophoresis</li>
          <li>RNA Isolation</li>
          <li>RT-PCR</li>
          <li>Principles of DNA Isolation from plants, Animals and Prokaryotic Cells</li>
          <li>Vaccine Design</li>
        </ul>
      </div>
      <h2>Skills</h2>
      <div class="content">
        <ul>
          <li>Design of blood DNA extraction kit</li>
          <li>Primer design</li>
          <li>PCR Types such as RT-PCR, Real-time PCR, Soeing PCR, PCR-RFLP, …</li>
          <li>Gene cloning, SDS-PAGE &amp; Western Blotting</li>
          <li>Design and Production of DNA extraction kits from blood, saliva, …</li>
          <li>Vaccine design</li>
          <li>ELISA</li>
          <li>MTT assay</li>
        </ul>
      </div>
      <h2>Reference</h2>
      <div class="content">
        <p>Prof. Abbas Sahebghadam Lotfi; Department of Clinical Biochemistry, Faculty of Medicine, Tarbiat Modares
          University, P.O. Box: 14155-6343, Tehran, Iran. 
          <a href="mailto:lotfi_ab@modares.ac.ir">
            lotfi_ab@modares.ac.ir
          </a>
          .
        </p>
      </div>
    </main>
  </div>
</body>

</html>